body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #D88783;
  }
  
  .container {
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    text-align: center;
  }
  
  .logo {
    width: 60px;
    height: 60px;
  }
  
  .title {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 24px;
    margin-top: 10px;
  }
  
  .content {
    background-color: #F9E4E3;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .image-container {
    text-align: center;
  }
  
  .laptop-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .sub-title {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
  }
  
  .description {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  .features {
    margin-top: 20px;
  }
  
  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .feature-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
  }
  
  .feature-title {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  
  .feature-description {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  .footer {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .footer-links li {
    display: inline;
  }
  
  .footer-links li:not(:last-child):after {
    content: "|";
    margin: 0 10px;
  }
  
  .footer-links li a {
    text-decoration: none;
    color: #999999;
  }

  .download-btn {
    background-color: #f9f9f9;
    color: #999999;
    border: 1px solid #999999;
    padding: 6px 12px;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .download-btn:hover {
    background-color: #999999;
    color: #ffffff;
  }
  
  



  
  