@import url("https://fonts.googleapis.com/css?family=Montserrat:600|Montserrat+Alternates:600");

:root{
  --black: rgba(0, 0, 0, 1);
  --dark-green: rgba(139, 164, 147, 1);
  --green: rgba(209, 231, 216, 1);
  --dark-pink: rgba(215, 135, 131, 1);
  --alto: rgba(217, 217, 217, 1);
  --pink: rgba(249, 228, 227, 1);
  --white: rgba(255, 255, 255, 1);
  
  --font-size-s: 12px;
  --font-size-m: 14px;
  --font-size-l: 15px;
  
  --font-family-montserrat: "Montserrat";
  --font-family-montserrat_alternates: "Montserrat Alternates";
  
}

.montserrat-semi-bold-black-15px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-weight: 600;
  font-style: normal;
}

.montserrat-semi-bold-black-14px {
  color: var(--black);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}


.hidden, .hidden * {
  pointer-events: none;
  visibility: hidden;
}

.iphone-14-2 {
  align-items: center;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 4830px;
  overflow: hidden;
  width: 390px;
}

.manage-your-tasks-wi {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-1);
  font-weight: 400;
  letter-spacing: -0.41px;
  line-height: 31px;
  margin-top: 64px;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
}

.span1 {
  color: var(--dark-green);
  font-family: var(--font-family-montserrat_alternates);
  font-weight: 600;
}

.overlap-group4 {
  align-items: flex-start;
  background-color: var(--pink);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-color: var(--dark-pink);
  display: flex;
  height: 94px;
  min-width: 390px;
  padding: 24px 117px;
}

.eazey {
  height: 37px;
  width: 146px;
}

.mockup-1 {
  height: 570px;
  margin-left: 4px;
  object-fit: cover;
  width: 276;
}


.overlap-group3 {
  align-self: flex-start;
  height: 2143px;
  margin-left: 0px;
  margin-top:  30px;
  position: relative;
  width: 1446px;
}

.moodchart-1 {
  height: 232px;
  left: 0px;
  object-fit: cover;
  position: relative;
  top: 0px;
  width: 290px;
}

.taskmanage-1 {
  height: 248px;
  left: 0px;
  object-fit: cover;
  position: relative;
  top: 0px;
  width: 325px;
}

.group-container {
  height: 2143px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1446px;
}

.group-493 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 2142px;
  position: absolute;
  top: 0;
  width: 1446px;
}

.overlap-group {
  height: 2076px;
  position: relative;
  width: 1446px
}

.rectangle-7 {
  background-color: var(--pink);
  height: 2008px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1446px;
  overflow: hidden;
}

.rectangle-359 {
  background: linear-gradient(180deg, rgb(249, 228, 227) 0%, rgba(249, 228, 227, 0) 100%);
  height: 67px;
  left: 7px;
  position: absolute;
  top: 2008px;
  transform: rotate(-180deg);
  width: 1439px;
}

.rectangle-360 {
  background: linear-gradient(180deg, rgb(249, 228, 227) 0%, rgba(249, 228, 227, 0) 100%);
  height: 67px;
  width: 1439px;
}

.group-497 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 740px;
  min-height: 1586px;
  margin-top: 0;
  margin-left: 30px;
  position: absolute;
  width: 290px;
}

.our-mood-tracking-fe {
  letter-spacing: -0.41px;
  line-height: 31px;
  margin-top: 433px;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
}

.our-mood-tracking-fe {
  letter-spacing: -0.41px;
  line-height: 31px;
  margin-top: 433px;
  min-height: 196px;
  width: 290px;
}

.group-494 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 97px;
  margin-top: 107px;
  width: 292px;
  display: flex;
  flex-wrap: wrap;
}

.our-ai-powered-chat {
  letter-spacing: -0.41px;
  line-height: 31px;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
}

.image-5 {
  height: 160px;
  object-fit: cover;
  width: 290px;
}

.the-task-manager-fun {
  letter-spacing: -0.41px;
  line-height: 31px;
  min-height: 246px;
  width: 290px;
}

.group-500 {
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
  min-width: 290px;
}

.rectangle-21 {
  background-color: var(--alto);
  height: 120px;
  margin-left: 12px;
  transform: rotate(180deg);
  width: 64px;
}

.rectangle-19 {
  background-color: var(--alto);
  height: 120px;
  transform: rotate(180deg);
  width: 63px;
}

.rectangle-20 {
  background-color: var(--alto);
  height: 120px;
  margin-left: 13px;
  transform: rotate(180deg);
  width: 63px;
}

.flex-row {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: 122px;
  height: 689px;
  margin-top: 260px;
  min-width: 592px;
}

.overlap-group2 {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 122px;
  height: 689px;
  min-width: 592px;
}

.overlap-group2-item {
  letter-spacing: -0.41;
  line-height: normal;
  margin-top: 20px;
  min-height: 18px;
  white-space: nowrap;
}

.group-502 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 64px;
  min-height: 71px;
  width: 249px;
}

.iphone-14-2 .frame {
  align-items: center;
  display: flex;
  gap: 10px;
  overflow: hidden;
  position: relative;
}

.frame-11 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dark-pink);
  border-radius: 20px;
  padding: 12px 22px;
  width: 249px;
}

.email-address {
  color: #cfcfcf;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.frame-12 {
  background-color: var(--dark-pink);
  border-radius: 15px;
  justify-content: center;
  padding: 0px 10px;
  width: fit-content;
}

.subscribe {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.phone {
  letter-spacing: -0.41px;
  line-height: normal;
  margin-top: 9px;
  min-height: 18px;
  white-space: nowrap;
}

.address {
  letter-spacing: -0.41px;
  line-height: normal;
  margin-top: 29px;
  min-height: 36px;
  width: 188px;
}


.eazey-1 {
  height: 32px;
  width: 130px;
}

.x2023-eazey-all-right-reserved {
  align-self: center;
  letter-spacing: -0.41px;
  line-height: normal;
  margin-top: 74px;
  min-height: 18px;
  min-width: 242px;
  white-space: nowrap;
}

.download {
  letter-spacing: -0.41px;
  line-height: normal;
  margin-top: 75px;
  min-height: 18px;
  white-space: nowrap;
}

.contact-us{
  letter-spacing: -0.41px;
  line-height: normal;
  margin-bottom: 143px;
  min-height: 18px;
  min-width: 80px;
  white-space: nowrap;
}

.laptop-with-open-article-and-notes {
  height: 204px;
  margin-top: 120px;
  width: 290px;
}

.image-3 {
  height: 276px;
  width: 390px
}